@{
    ViewData["Title"] = "Home Page";
    List<string> BreadCrumb = new List<string>();
    //BreadCrumb.Add("<a href='index.html' class='breadcrumb-item'>name</a>");
    BreadCrumb.Add("<span class='breadcrumb-item active'> Trang chủ</span>");
    ViewBag.BreadCrumb = BreadCrumb;
}
<script src="~/assets/js/vendor/notifications/noty.min.js"></script>
<script src="/libjs/plugins/jalert.js"></script>
<script src="~/assets/js/vendor/pickers/datepicker.min.js"></script>
<script src="~/assets/js/vendor/forms/selects/select2.min.js"></script>

<div class="content" ng-controller="IndexController" ng-cloak>
    <div class="content-inner">
        <div class="input-group mb-2" style="max-width: 15%;">
            <span class="input-group-text">
                <i class="ph-calendar"></i>
            </span>
            <input type="text" id="Date" ng-model="Date" class="form-control datepicker-basic" placeholder="Chọn ngày">
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered datatable-basic table-hover">
                        <thead>
                            <tr>
                                <th style="text-align: center; width: 2rem;">STT</th>
                                <th style="text-align: center; width: 8rem">Tên phòng</th>
                                <th style="text-align: center; width: 10rem">Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in home.roomInfo">
                                <td>{{$index + 1}}</td>
                                <td>
                                    <a href="/Home/RoomDetail/{{item.room_id}}">
                                        {{item.room_name}}
                                    </a>
                                </td>
                                <td ng-bind="item.status == 0 ? 'Đang trống' : item.status == 1 ? 'Đang được thuê' : ''"></td>
                            <tr ng-show="home.roomInfo == 0" style="text-align:center" class="ng-hide">
                                <td colspan="5">Không có dữ liệu</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section jsScript {
    <script src="/script-handler/homestay/index-controller.js"></script>
}