@{
    ViewData["Title"] = "Home Page";
    List<string> BreadCrumb = new List<string>();
    //BreadCrumb.Add("<a href='index.html' class='breadcrumb-item'>name</a>");
    BreadCrumb.Add("<span class='breadcrumb-item active'> Trang chủ</span>");
    ViewBag.BreadCrumb = BreadCrumb;
}
<script src="~/assets/js/vendor/notifications/noty.min.js"></script>
<script src="/libjs/plugins/jalert.js"></script>
<script src="~/assets/js/vendor/pickers/datepicker.min.js"></script>
<script src="~/assets/js/vendor/forms/selects/select2.min.js"></script>

<script>
    var room_id = @ViewBag.room_id;
</script>

<div class="content" ng-controller="RoomDetailController" ng-cloak>
    <div class="content-inner">
        <div class="row mb-2">
            <div class="col-2">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="ph-calendar"></i>
                    </span>
                    <input type="text" id="Date" ng-model="Date" class="form-control datepicker-basic" placeholder="Chọn ngày">
                    <button type="button" class="btn btn-light" ng-click="changeDetailByDate()">Tra cứu</button>
                </div>
            </div>
            <div class="col">
                <div class="text-end">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_booking" ng-click="setupPopup()">
                        <i class="ph-plus me-2"></i>
                        Đặt lịch
                    </button>
                </div>
            </div>            
        </div>
        <!-- Basic modal -->
        <div id="modal_booking" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Đặt lịch</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                        <div class="row mb-3">
                            <label class="col-form-label col-sm-3" for="RoomSelector">Phòng</label>
                            <select id="RoomSelector" ng-model="booking.roomSelected" class="form-control select" required>
                                <option value="0" disabled>Chọn phòng</option>
                                <option ng-repeat="item in home.roomInfo" value="{{item.room_id}}">{{item.room_name}}</option>
                            </select>
                        </div>
                        <div class="row mb-3">
                            <label class="col-form-label col-sm-3" for="BookingDate">Ngày nhận phòng</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="ph-calendar"></i></span>
                                <input type="text" class="form-control daterange-time" value="03/18/2024 - 03/23/2024">
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /basic modal -->
        <div class="card">
            <div class="card-body">
                <h1>{{home.roomName}}</h1>
                <div class="table-responsive">
                    <table class="table table-bordered datatable-basic table-hover">
                        <thead>
                            <tr>
                                <th style="text-align: center; width: 1rem;">STT</th>
                                <th style="text-align: center; width: 8rem">Thời gian</th>
                                <th style="text-align: center; width: 10rem">Khách thuê</th>
                                <th style="text-align: center; width: 10rem">Ghi chú</th>
                                <th style="text-align: center; width: 1rem">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in home.roomDetail">
                                <td style="text-align: center;">{{$index + 1}}</td>
                                <td>
                                    <b>Từ</b> {{item.start_time.Hours}}:{{item.start_time.Minutes}} <b>ngày</b> {{item.start_date}} <b>đến</b> {{item.end_time.Hours}}:{{item.end_time.Minutes}} <b>ngày</b> {{item.end_date}}
                                </td>
                                <td>{{item.guest_name}}</td>
                                <td>{{item.note}}</td>
                                <td style="text-align: center;vertical-align: middle; padding: 0px; margin: 0; font-size: 17px">
                                    <a href="#">
                                        <i class="ph-note-pencil" title="Chi tiết"></i>
                                    </a>
                                    <a href="#" class="text-danger">
                                        <i class="ph-trash" title="Xóa"></i>
                                    </a>
                                </td>
                            <tr ng-show="home.roomDetail == 0" style="text-align:center" class="ng-hide">
                                <td colspan="5">Không có dữ liệu</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section jsScript {
    <script src="/script-handler/homestay/room-detail-controller.js"></script>
}