@{
    List<string> BreadCrumb = new List<string>();
    BreadCrumb.Add("<a href='/Services/Index' class='breadcrumb-item'>Dịch vụ</a>");
    BreadCrumb.Add("<span class='breadcrumb-item active'> Quản lý quy trình</span>");
    ViewBag.BreadCrumb = BreadCrumb;
}
<script src="~/assets/js/vendor/ui/moment/moment.min.js"></script>
<script src="~/assets/js/vendor/pickers/daterangepicker.js"></script>
<script src="~/assets/js/vendor/pickers/datepicker.min.js"></script>
<script src="~/assets/js/vendor/forms/selects/select2.min.js"></script>
<script src="~/assets/js/vendor/notifications/noty.min.js"></script>
<script src="/libjs/plugins/jalert.js"></script>
<script>
    var Service_Type_ID = @ViewBag.Service_Type_ID;
</script>

<div class="content" ng-controller="StepManagerController">
    <div class="tabcontent" style="display: block;">
        <div class="card">
            <div class="table-responsive">
                <table id="step-table" class="table table-bordered">
                    <h1 class="mt-1 me-1 ms-1" style="float: left">{{StepManager.StepsLst[0].ServiceTypeName}}</h1>
                    <button type="button" class="mt-1 btn btn-primary btn-icon rounded-pill" data-bs-toggle="modal"
                            data-bs-target="#modal_add_service_type_step" ng-click="StepManager.AddStep()">
                        <i class="ph-plus"></i>
                    </button>
                    <thead>
                        <tr style="text-align: center">
                            <th>Mã bước</th>
                            <th>Tên bước</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="item in StepManager.StepsLst">
                        <tr>
                            <td style="text-align: center">{{item.StepID}}</td>
                            <td>{{item.StepName}}</td>
                            <td><a href="javascript:void(0);" id="sweet_warning" ng-click="StepManager.DeleteStep(item.StepID)" class="text-danger">
                                <i class="icon-bin icon-08x" title="Xóa"></i>
                            </a></td>
                        </tr>
                        <tr ng-show="StepManager.StepsLst.length == 0" style="text-align:center">
                            <td colspan="2">Không có dữ liệu</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @*popup thêm Step*@
    <div id="modal_add_service_type_step" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm bước</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <form action="#">
                    <div class="modal-body">
                        <div class="mb-3">
                            <div class="row">
                                <div>
                                    <label class="form-label">Tên bước</label>
                                    <select class="form-control select" ng-model="StepManager.StepSelected">
                                        <option value="" disabled selected>Lựa chọn Step có sẵn</option>
                                        <option ng-repeat="item in StepManager.AllStepsInDb" value="{{item.StepID}}">{{item.StepName}}</option>
                                    </select>
                                    <input type="text" ng-model="StepManager.NewStepName" placeholder="Tạo Step mới"
                                           class="form-control mt-1" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-click="StepManager.CloseModal()" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" ng-click="StepManager.SaveStep()" onClick="return false;"
                                class="btn btn-primary">
                            Lưu
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- /content area -->
@section jsScript {
    <script src="~/script-handler/contract-service-types/service-types-step-manager/step-manager-controller.js"></script>
}