@model IEnumerable<dynamic>
@{
    List<string> BreadCrumb = new List<string>();
    BreadCrumb.Add("<a href='/Contracts/Index' class='breadcrumb-item'>Hợp đồng</a>");
    BreadCrumb.Add("<span class='breadcrumb-item active'> Chỉnh sửa</span>");
    ViewBag.BreadCrumb = BreadCrumb;
}
<script src="~/assets/js/vendor/ui/moment/moment.min.js"></script>
<script src="~/assets/js/vendor/pickers/daterangepicker.js"></script>
<script src="~/assets/js/vendor/pickers/datepicker.min.js"></script>
<script src="~/assets/js/vendor/forms/selects/select2.min.js"></script>
<script src="~/assets/js/vendor/notifications/noty.min.js"></script>
<script src="/libjs/plugins/jalert.js"></script>
<script>
    var ContractID = @ViewBag.ContractID;
</script>

<!-- Content area -->
<div class="content" ng-controller="EditController">
    <ul class="nav nav-tabs nav-tabs-highlight justify-content">
        <li class="nav-item">
            <a href="#" class="nav-link" ng-class="{ 'active': activeTab === 'contract' }" ng-click="EditContract.setActiveTab('contract')">Hợp Đồng</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" ng-class="{ 'active': activeTab === 'service' }" ng-click="EditContract.setActiveTab('service')">Dịch Vụ</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" ng-class="{ 'active': activeTab === 'serviceDetail' }" ng-click="EditContract.setActiveTab('serviceDetail')">Chi Tiết Dịch Vụ</a>
        </li>
    </ul>  
    <div class="card card-body" ng-show="activeTab === 'contract'">
        <div class="tabcontent" style="display: block;">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label class="form-label" for="contractNumber">Số Hợp Đồng:</label>
                        <input class="form-control" type="text" ng-model="EditContract.Tab1.Content.Contract_Number" placeholder="Số Hợp Đồng" id="contractNumber">
                    </div>
                </div>
                
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label class="form-label">Loại Hợp Đồng:</label>
                        <select class="form-control select" id="ctrType" ng-model="EditContract.Tab1.Content.Contract_Type">
                            <option value="" disabled selected>Chọn loại hợp đồng</option>
                            <option ng-repeat="eitem in EditContract.Tab1.ListContractType" value="{{eitem.Contract_Type_ID}}">{{eitem.Contract_Type_Name}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="mb-3">
                        <label class="form-label" for="customerCompanyName">Tên Công Ty:</label>
                        <input class="form-control" type="text" ng-model="EditContract.Tab1.Content.Customer_Company_Name" placeholder="Tên Công Ty" id="customerCompanyName">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="address">Địa Chỉ Công Ty:</label>
                        <input class="form-control" type="text" ng-model="EditContract.Tab1.Content.Address" placeholder="Xuất hoá đơn" id="address">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="address">Địa Chỉ Liên Hệ:</label>
                        <input class="form-control" type="text" ng-model="EditContract.Tab1.Content.Address2" placeholder="Gửi thư, thông báo" id="address2">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="email">Email:</label>
                        <input class="form-control" type="text" ng-model="EditContract.Tab1.Content.Email" placeholder="abc@gmail.com" id="email">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="phone">Điện Thoại Cố Định:</label>
                        <input class="form-control" type="text" ng-model="EditContract.Tab1.Content.Phone" placeholder="09(xxxx)" id="phone">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="phone">Điện Thoại Di Động:</label>
                        <input class="form-control" type="text" ng-model="EditContract.Tab1.Content.MobilePhone" placeholder="09(xxxx)" id="mobile">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="mobilePhone">Đại Diện:</label>
                        <input class="form-control" type="text" ng-model="EditContract.Tab1.Content.Representative" placeholder="Nguyễn Văn A" id="companyRepresentative">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="mb-3">
                        <label for="tin">Mã Số Thuế:</label>
                        <input class="form-control" type="text" ng-model="EditContract.Tab1.Content.TIN" placeholder="Mã số Thuế" id="tin">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="mb-3">
                        <label class="form-label">Nhân viên phụ trách hợp đồng:</label>
                        <select class="form-control select" id="empID" ng-model="EditContract.Tab1.Content.EmployeeID">
                            <option value="" disabled selected>Chọn nhân viên phụ trách hợp đồng</option>
                            <option ng-repeat="eitem in EditContract.Tab3.EmployeeLst" value="{{eitem.EmployeeID}}">{{eitem.FullName}}</option>
                        </select>
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <div class="text-text-start">
                        <button type="button" class="text-text-start btn btn-success" ng-click="EditContract.Tab3.SaveContract()">
                            <i class="ph-floppy-disk me-2"></i>
                            Lưu hợp đồng
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-body" ng-show="activeTab === 'service'">
        <div class="tabcontent" style="display: block;">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr style="text-align: center">
                                <th>STT</th>
                                <th>Loại dịch vụ</th>
                                <th>Đơn vị tính</th>
                                <th>Đơn giá</th>
                                <th>Số lượng</th>
                                <th>Thành tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in EditContract.Tab2.Content">
                                <td style="text-align: center">{{ $index + 1 }}</td>
                                <td style="text-align: center">{{ item.Name }}</td>
                                <td style="text-align: center">{{ item.Unit }}</td>
                                <td style="text-align: center">{{ item.Unit_Price }}</td>
                                <td style="text-align: center">{{ item.Quantity }}</td>
                                <td style="text-align: center">{{ item.Total_Amount }}</td>
                                <td style="text-align: center;vertical-align: middle; padding: 0px; margin: 0;">
                                    <a href="#" ng-click="EditContract.Tab2.Edit(item.Service_Type_ID);">
                                        <i class="icon-pencil7 icon-08x" title="Cập nhật"></i>
                                    </a>
                                    <a href="#" ng-click="EditContract.Tab2.Delete(index);" class="text-danger">
                                        <i class="icon-bin icon-08x" title="Xóa"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr ng-show="EditContract.Tab2.lst.length == 0" style="text-align:center">
                                <td colspan="7">Không có dữ liệu</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @* <div class="text-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#popupAddService">
                    <i class="ph-plus me-2"></i>
                    Thêm Dịch Vụ
                </button>
            </div> *@
        </div>
    </div>
    <div class="card card-body" ng-show="activeTab === 'serviceDetail'">
        <div class="tabcontent" style="display: block;">
            @* <div class="row mb-3">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <select class="form-control select" ng-model="EditContract.ContractType.Filter" ng-options="item.Contract_Type_Name for item in EditContract.ListContractType">
                        <option value="" disabled selected>Lọc theo loại hợp đồng</option>
                    </select>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <select class="form-control select" ng-model="EditContract.Service.ServiceTypeSelected.Filter" ng-options="item.Name for item in EditContract.ServiceType">
                        <option value="" disabled selected>Lọc theo loại dịch vụ</option>
                    </select>
                </div>
                <div class="col-sm-1"></div>
            </div> *@
            <div class="card" ng-repeat="item in EditContract.Tab3.Content">
                <div class="card-header d-flex flex-wrap">
                    <h6 class="mb-0">{{ item.Name }}</h6>
                    @* <h6 class="mb-0">{{ item }}</h6> *@
                    <div class="d-inline-flex ms-auto">
                        <a class="text-body" data-card-action="collapse">
                            <i class="ph-caret-down"></i>
                        </a>
                        @* <a class="text-body mx-2" data-card-action="reload">
                            <i class="ph-arrows-clockwise"></i>
                        </a>
                        <a class="text-body" data-card-action="remove">
                            <i class="ph-x"></i>
                        </a> *@
                    </div>
                </div>
                <div class="collapse show">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr style="text-align:center;">
                                        <th class="col-1">STT</th>
                                        <th class="col-4">Giai đoạn</th>
                                        <th class="col-2">Ngày hoàn thành</th>
                                        <th class="col-3">Nhân viên phụ trách</th>
                                        <th class="col-1">Hoàn thành</th>
                                        <th class="col-1">Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="text-align:center" ng-repeat="step in item.StepDetail">
                                        <td>{{  $index + 1  }}</td>
                                        <td>
                                            {{ step.StepName }}
                                        </td>
                                        <td>
                                            <input type="text" class="form-control daterange-single employeeItemDatePicker" style="text-align: center" ng-model="step.Completion_Date">
                                        </td>
                                        <td>
                                            <select class="form-control select employeeItemSelect2" id="select-{{item.Service_Type_ID}}-{{$index}}" ng-model="step.EmployeeID">
                                                <option value="" disabled selected>Chọn nhân viên phụ trách</option>
                                                <option ng-repeat="eitem in EditContract.Tab3.EmployeeLst" value="{{eitem.EmployeeID}}">{{eitem.FullName}}</option>
                                            </select>
                                        </td>
                                        <td style="text-align: center;vertical-align: middle; padding: 0px; margin: 0;">
                                            <input type="checkbox" class="form-check-input" ng-true-value="1" ng-false-value="0" ng-model="step.Status_ID" id="check-{{$index}}">
                                        </td>
                                        <td style="text-align: center;vertical-align: middle; padding: 0px; margin: 0;">
                                            <a href="#" ng-click="EditContract.Tab3.DeleteStep(step.StepID, $index);" class="text-danger">
                                                <i class="icon-bin icon-08x" title="Xóa"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="d-flex justify-content-between">
                <div class="text-text-start">
                    <button type="button" class="text-text-start btn btn-success" ng-click="EditContract.Tab3.SaveContract()">
                        <i class="ph-floppy-disk me-2"></i>
                        Lưu hợp đồng
                    </button>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#popupAddCustomStep">
                        <i class="ph-plus me-2"></i>
                        Thêm Bước Xử Lý
                    </button>
                </div>
            </div>

        </div>
    </div>
    <!-- /content area -->
    <!-- Popup Tab2: Thêm dịch vụ -->
    <div id="popupAddService" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nhập thông tin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <form action="#" class="form-horizontal">
                    <div class="modal-body">
                        <div class="row mb-3">
                            <label class="col-form-label col-sm-3">Loại dịch vụ</label>
                            <div class="col-sm-9">
                                <select class="form-control select" ng-model="EditContract.Tab2.Popup.ServiceTypeSelected" ng-options="item.Name for item in EditContract.Tab2.Popup.ServiceType">
                                    <option value="" disabled selected>Chọn loại dịch vụ</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-form-label col-sm-3">Đơn vị tính</label>
                            <div class="col-sm-9">
                                <select class="form-control select" ng-model="EditContract.Tab2.Popup.UnitSelected" ng-options="item.Unit for item in EditContract.Tab2.Popup.UnitList">
                                    <option value="" disabled selected>Chọn đơn vị tính</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-form-label col-sm-3">Giá tiền</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="EditContract.Tab2.Popup.Price" placeholder="Giá tiền" id="price" ng-change="EditContract.Tab2.Popup.UpdateTotalService()" maxlength="17">
                                    <span class="input-group-text">VNĐ</span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-form-label col-sm-3">Số lượng</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="EditContract.Tab2.Popup.Quantity" placeholder="Số lượng" id="quantity" ng-change="EditContract.Tab2.Popup.UpdateTotalService()">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-form-label col-sm-3">Tổng tiền</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="EditContract.Tab2.Popup.Total" placeholder="Tổng tiền" id="total" disabled>
                                    <span class="input-group-text">VNĐ</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary" ng-click="EditContract.Tab2.Popup.AddServiceToList()" onClick="return false;">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Popup Tab2: Thêm dịch vụ -->

    <!-- Popup Tab3: Thêm Custom Step -->
    <div id="popupAddCustomStep" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nhập thông tin bước</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <form action="#" class="form-horizontal">
                    <div class="modal-body">
                        <div class="row mb-3">
                            <label class="col-form-label col-sm-3">Loại dịch vụ</label>
                            <div class="col-sm-9">
                                <select class="form-control select" ng-model="EditContract.Tab3.Popup.ServiceTypeToCustomSelected" ng-options="item.Name for item in EditContract.Tab2.Content">
                                    <option value="" disabled selected>Chọn loại dịch vụ</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-form-label col-sm-3">Tên bước</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="EditContract.Tab3.Popup.CustomStepName" placeholder="Tên bước">
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary" ng-click="EditContract.Tab3.Popup.AddCustomStep()" onClick="return false;">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Popup Tab2: Thêm dịch vụ -->
</div>
@section jsScript {
    <script src="~/script-handler/contract/edit-contract/edit-controller.js"></script>
}
