@{
    List<string> BreadCrumb = new List<string>();
    BreadCrumb.Add("<span class='breadcrumb-item'>Hợp đồng</span>");
    BreadCrumb.Add("<span class='breadcrumb-item active'> Quản lý tiến độ</span>");
    ViewBag.BreadCrumb = BreadCrumb;
}
<script src="~/assets/js/vendor/ui/moment/moment.min.js"></script>
<script src="~/assets/js/vendor/pickers/daterangepicker.js"></script>
<script src="~/assets/js/vendor/pickers/datepicker.min.js"></script>
<script src="~/assets/js/vendor/forms/selects/select2.min.js"></script>
<script src="~/assets/js/vendor/notifications/noty.min.js"></script>
<script src="/libjs/plugins/jalert.js"></script>
<script>
    var ContractID = @ViewBag.ContractID;
</script>

<div class="content" ng-controller="ProgressController">
    <div class="card card-body">
        <div class="tabcontent" style="display: block;">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label class="form-label" for="contractNumber">Số Hợp Đồng:</label>
                        <input class="form-control" type="text" ng-model="Progress.BasicContractInfo.Contract_Number" placeholder="Số Hợp Đồng" id="contractNumber" disabled>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="mb-3">
                        <label class="form-label" for="customerCompanyName">Tên Công Ty:</label>
                        <input class="form-control" type="text" ng-model="Progress.BasicContractInfo.Customer_Company_Name" placeholder="Tên Công Ty" id="customerCompanyName" disabled>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="mb-3">
                        <label class="form-label" for="tin">Mã Số Thuế:</label>
                        <input class="form-control" type="text" ng-model="Progress.BasicContractInfo.TIN" placeholder="Mã số Thuế" id="tin" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-body">
        <h1>Tiến độ - {{Progress.ContractProgress}}%</h1>
        <div id="service-list">
            <div id="service-item" ng-repeat="item in Progress.ProgressTable">
                <h2>{{item.Name}} - {{item.Progress}}%</h2>
                <span ng-repeat="eitem in item.StepDetail">
                    <span class="bg-opacity-20 mb-1" ng-click="Progress.ChangeStatus(Progress.BasicContractInfo.Contract_ID, item.Service_Type_ID, eitem.Detail_ID)" ng-class="eitem.Status_ID == 0 ? (Progress.IsOverdue(eitem.Completion_Date) ? 'badge bg-danger text-danger' : 'badge bg-dark text-reset') : 'badge bg-success text-success'" data-bs-popup="tooltip" data-bs-original-title={{eitem.Completion_Date}}>
                        {{eitem.StepName}}
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- /content area -->
@section jsScript{
    <script src="~/script-handler/contract/progress-controller/progress-controller.js"></script>
}
